<h1 class="page-header">Editing <%= @ingredient.ingredient.name %> <small>from the <%= @ingredient.recipe.name %> recipe</small></h1>

<div class="row">
	<div class="col-md-8">
		<%= render 'form' %>
	</div>
</div>