<h1 class="page-header">Sign up Free!</h1>
<div class="row">
  <div class="col-md-4 col-sm-6">
    <%= render 'form' %>
  </div>
  <div class="col-sm-6 hidden-xs">
		<%= image_tag "chart_big.png" %>
	</div>
</div>

	