<section class="col-sm-4 color color-default">
  <h1 class="page-header">Sign up Free!</h1>

  <%#= image_tag "pizza.png" %>


</section>
<section id="resources" class="col-sm-8">
  <div id="" class="row">
	  <div class="col-md-4 col-sm-6">
	    <%= render 'form' %>
	  </div>
	  <div class="col-sm-6 hidden-xs">
			
		</div>
	</div>	
</section>