<section class="color color-ingredient col-sm-4">
  <h1 class="page-header"><%= @ingredient.name %></h1>

  <a id="add" href="<%= ingredient_path(@ingredient) %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
  	<!-- <span class="glyphicon glyphicon-edit"></span> -->
    Delete Ingredient
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</section>

<section id="resources" class="col-sm-8">
<div class="row">
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
</div>
</section>