<div class="jumbotron" id="index_jumbotron">
  <h1 style="font-family: 'Lily Script One', cursive;">What's your Food Cost ?</h1>
  <p>Don't go another day without truly knowing your food cost percentage...</p>
  <br>
  <p><%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %></p>
</div>

<!-- <div class="row">
	<div class="col-xs-4">
		<h2>Step 1</h2>
	</div>
	<div class="col-xs-4">
		<h2>Step 2</h2>
	</div>
	<div class="col-xs-4">
		<h2>Step 3</h2>
	</div>
</div> -->