<div class="jumbotron">
  <h1 style="font-family: 'Lily Script One', cursive;">What is your Food Cost % ?</h1>
  <p>Don't go another day without truly knowing your food cost...</p>
  <br>
  <p><%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %></p>
</div>