/* Media */
$screen-md-max: 1199px;
$screen-sm-max: 991px;
$screen-xs-max: 767px;

/* Color Palette */
$blue: #00A2EF;
$blueDark: #004C6F;
$green: #004C6F;
$darkGreen: #A29D08;
$black: #2b2f37;
$dark-grey: #454545;
$grey: #7c7c7c;
$light-grey: #f3f3f3;
$white: #ffffff;