@media(max-width:767px){ 
	
	body {
		padding-top: 70px;
		padding-bottom: 20px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.jumbotron {
		padding-top: 0px;
		
		h1 { 
			font-size: 1em;
			font-family: "Permanent Marker" 
		}
		p { font-size: .8em }

	}

	h1.page-header { 
		font-size: 1.5em; 
		a {
			margin-top: -10px;
		}
	}

	footer { 
		display: none;
	}

	input[type="text"]:focus, input[type="password"], textarea:focus, select:focus, input[type="number"]:focus {
	  font-size: 16px;
	}

}