<h1 class="page-header">Listing Menu Categories</h1>

<div class="row">
  <div class="col-md-4">

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

    <% @plate_categories.each do |plate_category| %>
      <tr>
        <td><%= plate_category.name %></td>

        <td><%= link_to 'Edit', edit_plate_category_path(plate_category) %></td>
        <td><%= link_to 'Delete', plate_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">New Category</div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>